<h1>This is the homepage of Career Closet.</h1>
<p><%= link_to "Want to know more about career closet?", about_path %></p>
<p><%= link_to "Suits in Closet", suits_path%></p>
<p><%= link_to 'SignUp for Career Closet!', signup_path %></p>
<p><%= link_to "查看所有用户", users_path %></p>